.apply-product {
  #right-div {
    display: flex;

    #form-div {
      background-color: $white;
      padding: 30px;
      width: 1080px;
      height: 100vh;
      margin-left: 272px;
    }
  }
}
